<div class="d-flex mt-5">
  <div class="col-md-5 pr-3">
    <h3>ENDPOINTS</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="nav-link link-success me-2" href="#"><span
            class="btn btn-sm btn-outline-success col-2">POST</span>Create a new product</a>
      </li>
      <li class="list-group-item"><a class="nav-link link-primary me-2" href="#"><span
            class="btn btn-sm btn-outline-primary col-2">PUT</span> Update a product</a></li>
      <li class="list-group-item"><a class="nav-link link-danger me-2" href="#"><span
            class="btn btn-sm btn-outline-danger col-2">DELETE</span> Delete a product</a></li>
      <li class="list-group-item"><a class="nav-link link-dark me-2" href="#"><span
            class="btn btn-sm btn-outline-dark col-2">GET</span> List products</a></li>
    </ul>
  </div>
  <div class="col-md-7 ps-5">
    <div class="pl-5">
      <h3>PROYECTO 1</h3>
      <hr>
      <div class="col-auto">
        <p>The Product resource lets you update and create products in a merchant's store. You can use product variants
          with the Product resource to create or update different versions of the same product. You can also add or
          update product images.

          You can add products to collections with the CustomCollection resource and the SmartCollection resource.</p>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"># Endpoints</h5>
          <div class="card-text">
            <h3 class="link-success"><span class="btn btn-sm btn-outline-success col-2">POST</span>
              /admin/api/add-producto</h3>
            <h3 class="link-primary"><span class="btn btn-sm btn-outline-primary col-2">PUT</span>
              /admin/api/edit-producto</h3>
            <h3 class="link-danger"><span class="btn btn-sm btn-outline-danger col-2">DELETE</span>
              /admin/api/delete-producto</h3>
            <h3 class="link-dark"><span class="btn btn-sm btn-outline-dark col-2">GET</span> /admin/api/list-producto
            </h3>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

<hr>


  </div>
</div>
